@import url('https://fonts.googleapis.com/css?family=Gothic+A1:700');
@import url(style_mobile.css) (max-width: 691px), (max-height: 340px);
@import url(style_desktop.css) (min-width: 691px) and (min-height: 340px);

html {
  font-family: Gothic A1;
}

.topBar .social .facebook {
  background-image: url("icons/facebook_flat.png");
}

.topBar .social .github {
  background-image: url("icons/github_flat.png");
}

.topBar .social .twitter {
  background-image: url("icons/twitter_flat.png");
}

.topBar .social .mailIcon {
  background-image: url("icons/mail_flat.png");
}