* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  display: inline;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  line-height: 100%;
}

span {
  line-height: 100%;
}

@font-face {
  font-family: Ping LCG;
  src: url(assets/fonts/PingLCG-Thin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: Ping LCG;
  src: url(assets/fonts/PingLCG-ExtraLightItalic.ttf);
  font-weight: 200;
}

@font-face {
  font-family: Ping LCG;
  src: url(assets/fonts/PingLCG-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Ping LCG;
  src: url(assets/fonts/PingLCG-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: Ping LCG;
  src: url(assets/fonts/PingLCG-Black.ttf);
  font-weight: 800;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 45px 45px 40px 45px;
  width: 100vw;
  height: 100vh;
  --dark-red: #d40000;
  --teal: #008080;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  display: inline;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  line-height: 100%;
}

span {
  line-height: 100%;
}

.landing-page {
  display: grid;
  grid-template-columns: auto 47px 1fr 25px auto;
  grid-template-rows: auto 1fr auto;
  width: 100%;
  height: 100%;
}

.landing-page .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 6;
}

.logo {
  font-size: 2em;
  font-family: Ping LCG;
  font-weight: bold;
  font-size: 42.4px;
}

.nav ul li {
  font-family: Ping LCG;
  font-weight: bold;
  font-size: 15px;
}

.nav ul li:not(:first-child) {
  margin-left: 40px;
}

.links {
  width: 2ex;
  display: flex;
  align-items: center;
}

.links > * {
  transform: translateX(calc(-50% + 1ex)) rotate(-90deg);
}

.links > * > *:not(:first-child) {
  margin-left: 44px;
}

.links > * a {
  font-family: Ping LCG;
}

.art {
  width: 42%;
}

.description > * {
  display: block;
}

.description .fullname {
  font-size: 94.7px;
  font-family: Ping LCG;
  line-height: 100%;
  font-weight: 800;
  color: var(--fill-color);
}

.st1 {
  fill: var(--fill-color);
}

.description .profession {
  font-size: 36px;
  font-family: Ping LCG;
  font-weight: 100;
  font-weight: 200;
  line-height: 100%;
  color: grey;
}

.email {
  width: 2ex;
  display: flex;
  align-items: center;
  grid-column-start: 5;
}

.email span {
  font-family: Ping LCG;
  transform: translateX(calc(-50% + 1ex)) rotate(90deg);
}

.center {
  grid-column-start: 3;
  height: 100%;
  display: flex;
  align-items: center;
}

.bottom {
  grid-column-start: 3;
}