* {
    box-sizing: border-box;
}

html {
    background-color: #4d4d4d;
}

body {
    margin: 0;
}

/* Should remove flex here without ruining z-index.*/

.topBar {
    display: flex;
    flex-direction: column;
}

/* ~~~~~~~~~~~~~~~~ */

.topBar .mainSegment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    background-color: #4d4d4d;
    padding: 15px 10px 15px 10px;
    box-shadow: 0 0 5px black;
}

.topBar .mainSegment .logoWrapper {
    max-width: 200px;
}

.topBar .mainSegment .logoWrapper img{
    width: 100%;
    vertical-align: middle;
}

.topBar .mainSegment .mobileMenuToggleButton {
    width: 35px;
    height: 35px;
    background-image: url("icons/dropdown.png");
    background-size: 100% 100%;
    border-radius: 3px;
    border: 1px solid #a6d514;
    transition:  background-color 0.1s linear 0s,
                 background-image 0.1s linear 0s;
}

.contentExpanded {
    background-color: #a6d514;
    background-image: url("icons/dropdown_hover.png");
}

nav {
    z-index: 0;
    background-color: #2c2c2c;
}

.topBar .navigationList:before {
    width: 100%;
    content: "Navigation";
    font-size: 110%;
    line-height: 320%;
    color: white;
    text-align: center;
    border-bottom: 1px solid #789b0e;
}

.topBar .navigationList {
    display: flex;
    width: 90%;
    justify-content: space-around;
    flex-direction: column;
    margin: auto;
    padding: 0;
    list-style: none;
}

.topBar .navigationList li a{
    display: inline-block;
    text-align: center;
    width: 100%;
    opacity: 0.5;
    border-radius: 2px;
    font-size: 100%;
    line-height: 320%;
    color: white;
    outline: none;
    text-decoration: none;
    transition:  background-color 0.1s linear 0s,
                 opacity 0.1s linear 0s,
                 box-shadow 0.1s linear 0s;
}

.topBar .navigationList li a:hover{
    opacity: 1;
    box-shadow: 0 0 2px black;
    background-color: #a6d514;
    color: #2c2c2c;
}

.topBar .navigationList li .activated {
    opacity: 1;
    box-shadow: 0 0 2px black;
    background-color: #727272;
}

.topBar .navigationList li .activated::before {
    content: "~";
    margin-right: 5px;
}

.topBar .navigationList li .activated::after {
    content: "~";
    margin-left: 5px;
}

.topBar .social {
    box-shadow: 0 0 1px inset black;
    background-color: #2c2c2c;
    width: 100%;
    margin: 0;
    padding: 10px 0 10px 0;
    display: inline-block;
    text-align: center;
    list-style: none;
}

.topBar .social li {
    display: inline-block;
    margin-left: 23px;
}

.topBar .social .firstIcon {
    margin: 0;
}

.topBar .social .finalIcon {
    margin-left: 23px;
}

.topBar .social a {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    box-shadow: 0 0 5px inset black;
    opacity: 0.3;
    outline: none;
    border-radius: 100px;
    background-size: 100% 100%;
    transition: opacity linear 0.1s; 
}

.topBar .social .middleIcon {
    margin: 0 35px 0 35px;
}
  
.topBar .social a:hover {
    opacity: 1;
}

.footer {
    display: none;
}