* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  display: inline;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  line-height: 100%;
}

span {
  line-height: 100%;
}

@font-face {
  font-family: Ping LCG;
  src: url(assets/fonts/PingLCG-Thin.ttf.woff2);
  font-weight: 100;
}

@font-face {
  font-family: Ping LCG;
  src: url(assets/fonts/PingLCG-ExtraLightItalic.ttf.woff2);
  font-weight: 200;
}

@font-face {
  font-family: Ping LCG;
  src: url(assets/fonts/PingLCG-Regular.ttf.woff2);
  font-weight: normal;
}

@font-face {
  font-family: Ping LCG;
  src: url(assets/fonts/PingLCG-Bold.otf.woff2);
  font-weight: bold;
}

@font-face {
  font-family: Ping LCG;
  src: url(assets/fonts/PingLCG-Black.ttf.woff2);
  font-weight: 800;
}

* {
  box-sizing: border-box;
  --fg-color: #ff0088ff;
}

body {
  margin: 0;
  --dark-red: #d40000;
  --teal: #008080;
  overflow: hidden;
  font-weight: PingPCG;
  height: calc(var(--vh, 1vh) * 100);
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  display: inline;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  line-height: 100%;
}

span {
  line-height: 100%;
}

#gAqARnX_yWn8ztFaiZxNm {
  height: 100%;
}